<h1>Registerform</h1>
<form action="/register" method="POST">
	<input type="text" name="cname" placeholder="cname">
	<input type="password" name="cpassword" placeholder="password">
	<input type="number" name="cid" placeholder="cid">
	
	<input type="text" name="caddress" placeholder="caddress">
	<button>Submit</button>
</form>
<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
